@font-face {
  font-family: "Butler";
  src: url(/fonts/Butler_Regular.otf) format("otf");
  font-weight: 300;
}

* {
  margin: 0 auto;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 1.3rem;
  color: #000000;
}

/* section 1 */
@media (min-width: 458px){
.menu {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
  margin-left: 6%;
  color: white;
}

.mod-studio-section {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 8rem;
}

.mod-studio-frame {
  position: absolute;
  left: 27%;
  right: 27%;
  top: 21%;
  width: 58%;
  height: 57%;
  background: white;
  text-align: center;
  line-height: 4.8rem;
}

.mod_studio {
  padding-top: 25%;
  font-family: "Butler", serif;
  font-size: 5.5rem;
  font-weight: 400;
}
  
.mod_studio_sign {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding-right: 5%;
}

/* section 2 */
.biography-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 7rem;
}

.katya-mills-bio {
  flex-basis:  10%;
  font-size: 0.7rem;
  padding-top: 48.7rem;
  padding-right: 12.6%;
  order: 3;
}

.katya-mills-img {
  flex-basis: 100%;
  text-align: right;
  margin-left: 21%;
  order: 1;
}

.katya-mills-text {
  flex-basis:  90%;
  text-align: left;
  padding-top: 11.5rem;
  margin-left: 7.5%;
  order: 2;
}

.katya-mills {
  font-family: "Butler", serif;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 6.6rem;
  margin-bottom: 3rem;
}

.katya-mills-signature {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #636363;
  margin-bottom: 3.9rem;
  text-align: left;
  
}

.katya-mills-rectangle {
  background-color: black;
  width: 1rem;
  height: 0.3rem;
  margin-bottom: 1.8rem;
}

.katya-mills-quote {
  font-family: "Butler", serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #000000;
}

.rotation {
  transform: rotate(-90deg);
  font-weight: 700;
}

/* section 3 */
.designer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 7rem 40rem;
  max-width: 1450px;
  margin: 0 auto;
}

.designer-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  margin-left: 35%;
  padding-right: 7%;
}

.designer-img-margin-bottom-jess {
  margin-bottom: 4%;
}

.designer-img-margin-bottom-other {
  margin-bottom: 5%;
}

.designer-jess {
  grid-column: 1;
  grid-row: 1/2;
  justify-self: center;
  margin-top: 2%;
}

.designer-kameron {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

.designer-louisse {
  grid-column: 3;
  grid-row: 2;
  margin-right: 5%;
}

.designer-signers-jess {
  text-align: left;
  margin-left: 30%;
}

.designer-signers {
  text-align: left;
}
.designer-signers-louisse {
  margin-left: 7%;

}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  color: #000000;
}

.capitalize {
  text-transform: capitalize;
}

/* section 4 */
.testimonials-section {
  display: grid;
  grid-template-columns: 1fr 1fr 30%;
  grid-template-rows: repeat(2, auto);
  width: auto;
  margin: 8rem auto;
}

.testimonials-section-header {
  grid-column: 2;
  justify-self: left;
  margin-bottom: 6%;
}

.testimonials-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.3rem;
  font-size: 1.1rem;
}

.testimonials-sites{
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  justify-items: end;
  text-align: left;
}

.testimonials-site-website {
  grid-row: 1;
  padding-right: 15%;
  padding-top: 28%;
  transform: rotate(-90deg);
}

.testimonials-site-creativity1 {
  grid-row: 2;
  padding-right: 5%;
  padding-top: 23%;
  transform: rotate(-90deg);
}

.testimonials-site-creativity2 {
  grid-row: 3;
  padding-left: 4%;
  padding-top: 23%;
  transform: rotate(-90deg);
}

.testimonials-main-img {
  grid-column: 2;
  grid-row: 2;
  justify-self: left;
}

.testimonials-quote {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  margin-right: 10%;
}

.quote {
  font-family: "Butler", serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #000000;
}

/* section 5 */
.strong-points-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  margin-right: 27%;
  padding-top: 2%;
}

.strong-points {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  margin: auto;
  justify-content: center;
  gap: 1.6%;
  max-width: 1440px;
}

.strong-points-dawid {
  flex-basis: auto;
  margin-top: 5%;
}

.strong-points-avery {
  flex-basis: auto;
  margin-top: 5%;
}

.strong-points-list {
  flex-basis: auto;
  padding-bottom: 30%;
}

.strengths {
  font-family: "Butler", serif;
  font-size: 5.7rem;
  line-height: 6.9rem;
  font-weight: 400;
  color: #000000;
  margin-left: 20%;
  margin-bottom: 4%;
}

.strengths_list {
  font-family: "Butler", serif;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #000000;
  text-align: left;
  margin-left: 40%;
}

.strong-points-half-hidden-img {
  flex-basis: auto;
  margin-top: 5%;
  overflow:hidden;
  padding-left: 16%;
}

@supports (display: grid) {
  .strong-points {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-height: 700px;
  }

  .strong-points-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1rem;
    margin-right: 27%;
    padding-top: 2%;
    padding-right: 6%;
  }

  .strong-points-dawid {
    grid-column: 1;
    grid-row: 1;
    margin-top: 8.5rem;
  }

  .strong-points-avery {
    grid-column: 2;
    grid-row: 1;
    margin-top: 8.5rem;
  }

  .strong-points-list {
    grid-column: 3;
    grid-row: 1;
    margin-left: 3%;
  }

  .strengths {
    margin-bottom: 17%;
    margin-left: 16%;
  }

  .strong-points-half-hidden-img {
    grid-column: 4;
    grid-row: 1;
    margin-top: 8.5rem;
    overflow: hidden;
    padding-left: 68%;
  }
}
}
@media (max-width: 458px) {

  .menu{
    display: none;
  }

  /*section 1 for mobile*/
  .mod-studio-section {
    display: flex;
    margin: 0;
    background-size: cover;
    width: 28.6rem;
    height: 56rem;
  }

   .mod-studio-pic{
    position: relative;
    width: 28.6rem;
    height: 100%;
    object-fit: cover;
    object-position: -29rem 0;
  } 
  
  .mod-studio-frame {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 40%;
  }

  .mod_studio{
    font-size: 4.3rem;
  }

  /*section 2 for mobile*/
  .biography-section{
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
  }

  .katya-mills-bio{
    flex-basis:auto;
    order: 1;
    padding-top: 0;
    padding-right: 0;
    padding-left: 25%;
    transform: rotate(90deg);
    margin-left: 65%;
    margin-top: 8%;
  }


  .katya-mills-text{
    order: 2;
    display: flex;
    flex-flow: wrap;   
    margin: 0%;
    padding: 0%;
  }

  .katya-mills{
    flex-basis: auto;
    order: 4;
    font-size: 4.3rem;
    margin: 0;
    padding-left: 15%;
    margin-top: -21.5%;
  }

  .katya-mills-signature{
    flex-basis: auto;
    order: 1;
    width: 10.5rem;
    margin-left: 3%;
    margin-top: 8%;
  }

  .katya-mills-quote{
    flex-basis: auto;
    order: 2;
    font-size: 2rem;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
  }

  .katya-mills-rectangle{
    flex-basis: auto;
    order: 3;
    width: 2rem;
    margin-right: 22.5rem;
    margin-top: 21%;
  }

  .katya-mills-img{
    flex-basis: auto;
    order: 5;
    margin-left: 0;
    margin-top: -25px;
    z-index: -1;
    padding-right: 4rem;
    width: 428px;
    height: 600px;
    top: -30rem;
    overflow: hidden;    
  }

  /*section 3 for mobile*/
  .designer-header{
    position: relative;
    left: -18rem;
    transform: rotate(0deg);
    height: 5rem;
    width: 150%;
    background-color: white;
    text-align: center;
    padding-top: 5rem;
    padding-left: 10rem;
  }

  .designer{
    margin-top: -10rem;
    gap: 2rem;
  }
  .designer-jess{
    display: none;
  }

  /*section 4 for mobile*/
  .testimonials-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 458px;
    height: 820px;
  }

  .testimonials-section-header{
    grid-column: 1;
    grid-row: 1;
    padding-left: 20rem;
    margin-bottom: 8rem;
  }
  .testimonials-main-img{
    display: none;
  }

  .testimonials-quote{
    grid-column: 1;
    grid-row: 2;
    background-size: cover;
  }

  .quote{
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
  }

  .testimonials-second-img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .testimonials-sites{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .testimonials-site-website {
    transform: rotate(0deg);
    padding-right: 0;
    padding-top: 15%;
  }

  .testimonials-site-creativity1 {
    transform: rotate(0deg);
    padding-right: 0;
    padding-top: 15%;
  }

  .testimonials-site-creativity2 {
    transform: rotate(0deg);
    padding-right: 53%;
    padding-top: 15%;
  }

   /*section 5 for mobile*/
  .strong-points-header{
    transform: rotate(0deg);
    padding-top: 12rem;
    padding-left: 19rem;
    margin:0
   }

   .strong-points-avery{
    display: none;
   }

   .strong-points {
    
  }

  .strong-points-list{
    padding-left: 2rem;
  }

  .strengths{
    margin-left: 0;
    margin-right: 9rem;
    margin-bottom: 2rem;
  }

  .strengths_list{
    margin-left: 0;
  }

  .strong-points-dawid {
    grid-column: 3;
    max-width: 10rem;
    padding: 0;
    justify-self: center;
    overflow: hidden;
    margin-left: 19rem;
  }

  .strong-points-half-hidden-img {
    display: none;
  }

  .strong-footer{
    grid-column: 1/4;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: "Butler", serif;
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-weight: 400;
    vertical-align: middle;
  }

  .delimiter{
    width: 27.5rem;
    height: 0.1rem;
    padding-top: 0.5%; 
    margin: 0;
    background-color: #000000;
  }

  .strong-footer-alfabet{

  }
  
}