@font-face {
  font-family: "Butler";
  src: url(/fonts/Butler_Regular.otf) format("otf");
  font-weight: 300;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #000000;
}

.menu {
  margin-left: 50%;
  margin-bottom: 2rem;
  color: white;
}

.mod-studio-frame {
  position: absolute;
  left: 37%;
  top: 25%;
  width: 30%;
  height: 5%;
  padding-bottom: 15%;
  background: white;
}

.mod-studio-text {
  position: absolute;
  left: 16%;
  top: 30%;
  text-align: center;

}

.mod-studio {
  font-family: "Butler", serif;
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 400;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 5.5rem;
}
  
.mod_studio_sign {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.mills_signature {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #636363;
}

.quote {
  font-family: "Butler", serif;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  color: #000000;
}

.rotation {
  transform: rotate(-90deg);
  font-weight: 700;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  color: #000000;
}

.capitalize {
  text-transform: capitalize;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #000000;
}

.strengths {
  font-family: "Butler", serif;
  font-size: 5.7rem;
  line-height: 6.9rem;
  font-weight: 400;
  color: #000000;
}

.strengths_list {
  font-family: "Butler", serif;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #000000;
}